* {
    margin: 0;
    padding: 0;
}

.toolbar {
    width: 1206px;
    position: relative;
    overflow: hidden;
}

.main {
    height: 506px;
    display: flex;
    border: 3px solid gray;
}

.stop__watch {
    width: 50%;
    margin: 1%;
    background: #1d6b20 url("../images/Octicons-arrow-up.svg") 50% 50% no-repeat;
}

.stop__watch:hover {
    background-color: #2a962d;
    cursor: pointer;
}

.count__down {
    width: 50%;
    margin: 1%;
    background: #a50000 url("../images/Octicons-arrow-down.svg") 50% 50% no-repeat;
}

.count__down:hover {
    background-color: #c40000;
    cursor: pointer;
}

.stop__watch__container {
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 514px;
    background-color: #6df28e;
    z-index: 2;
}

.count__down__container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 586px;
    background-color: #9ab1f9;
    z-index: 2;
}

.scoreboard {
    width: 80%;
    border: 10px solid black;
    border-radius: 90px;
    margin: 20px auto 0 auto;
}

.scoreboard__time {
    text-align: center;
    font-size: 240px;
    font-weight: bold;
}

.scoreboard__msec {
    margin-bottom: 10px;
    margin-top: -50px;
    margin-left: 800px;
    font-size: 30px;
    font-weight: bold;
}

.button {
    position: absolute;
    top: 380px;
    left: 100px;
    width: 260px;
    font-size: 64px;
    border-radius: 30px;
}

.button:focus, .back__to__main:focus {
    outline: none;
}

.button:hover {
    transition: 0.1s;
}

.start__button {
    z-index: 4;
    background-color: #24a31b;
}

.continue__button {
    z-index: 2;
    background-color: #24a31b;
}

.start__button:hover, .continue__button:hover {
    background-color: #32d626;
}

.pause__button {
    background-color: #2d5faf;
    z-index: 3;
}

.pause_button:hover {
    background-color: #3774d6;
}

.clear__button {
    left: 850px;
    background-color: #bc2525;
}

.clear__button:hover {
    background-color: #ed2d2d;
}

.back__block {
    position: absolute;
    width: 100%;
    height: 40px;
    background-color: blue;
    bottom: 0;
}

.back__to__main {
    width: 80px;
    font-size: 20px;
    border-radius: 30px;
    margin-top: 6px;
    margin-left: 10px;
}
